@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Siemreap", sans-serif;
}
.font{
      font-family: "Inter", sans-serif;
}
.form .MuiOutlinedInput-root{
    border-radius: 10px !important;
}
.form {
    border-radius: 10px !important;
}